/* 主区 / 顶栏 / 工具条壳层 */
@mixin sidebar-shell($sideBarWidth) {
  /* 修复 windows 下双滚动条问题 */
  .el-popper.auth-scrollbar {
    overflow: hidden;
  }

  /* popper menu 超出内容区可滚动 */
  .auth-scrollbar {
    max-height: calc(100vh - (var(--auth-menu-item-height) * 2.5));
    overflow: hidden auto;
  }

  .layout-menu__icon {
    margin-right: var(--auth-menu-icon-gap);
    font-size: 18px;
  }

  .layout-toolbar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 48px;
    font-size: 18px;
    cursor: pointer;
    color: var(--auth-text-primary);

    &:hover {
      background: var(--auth-bg-secondary);
    }
  }

  .layout__main {
    position: relative;
    height: 100vh;
    min-height: 100%;
    margin-left: $sideBarWidth;
    background: var(--auth-bg-page);

    .el-scrollbar__wrap {
      overflow: auto;
    }
  }

  .layout-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    width: calc(100% - #{$sideBarWidth});
  }

  .layout__main--hidden {
    margin-left: 0 !important;

    .layout-header {
      width: 100% !important;
    }
  }
}
